---
// Root redirect: detect language and redirect to /{lang}/
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <title>Redirecting...</title>
    <script is:inline src="/default-language.js"></script>
    <script is:inline>
      var supported = ['en', 'it', 'es', 'fr', 'de']
      var lang = localStorage.getItem('lang')
      if (!lang || supported.indexOf(lang) === -1) {
        var configuredDefault =
          typeof window.__DEFAULT_LANGUAGE__ === 'string' &&
          supported.indexOf(window.__DEFAULT_LANGUAGE__) !== -1
            ? window.__DEFAULT_LANGUAGE__
            : 'en'
        lang = configuredDefault
      }
      location.replace('/' + lang + '/')
    </script>
  </head>
  <body></body>
</html>
